.cabecalhoPrincipal .container {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    display:flex;
    justify-content: space-around;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height:260px;
}

.rodapePrincipal-patrocinadores .container {
    display:flex;
    justify-content:space-between;
}

.rodapePrincipal-patrocinadores-list {
    display:flex;
    align-items:center;
    width:75%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    width:25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display:flex;
}